<footer class="footer">
    <div class="footer-main">
        <form action="/search" target="_blank" method="get" class="m-search">
            <input type="text" name="q" value="" />
            <button type="submit"  class="search-arrow">
                <i class="iconfont icon-tiaozhuan"></i>
            </button>
        </form>
        <h4 class="m-tit">
            社群
        </h4>
        <ul class="m-icons">
            <li>
                <a href="javascript:;">
                    <i class="iconfont icon-weixin"></i>
                    <div class="show-box">
                        <div class="box-detail">
                            <img src="/img/wxcode-ono.jpg" alt="">
                            <p>官网微信号</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont icon-qq"></i>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont icon-dianbao"></i>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont icon-steemit"></i>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont icon-githup"></i>
                </a>
            </li>
        </ul>
        <p class="m-copyright">
            Copyright © 2018 Bitbee.io 最新版本1.06.16
        </p>
    </div>
</footer>