{% extends '../layout/layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{loadmap.css}}">
{% endblock%}


{% block body %}
    {% include "../global/head-top.html" ignore missing %}
    <div class="wrap">
        <div class="wrap-top">
            {% if Viewpager1 %}
            <div class="top-play">
                <div class="swiper-container swiper-container1">
                    <div class="swiper-wrapper">
                        {% for item in Viewpager1 %}
                        <div class="swiper-slide">
                            <div class="info">
                                <a href="/d/{{item.id}}">
                                    {% if item.articleImageUrl %}
                                    <div class="info-cover">
                                        <img src="{{item.articleImageUrl}}" alt="" />
                                    </div>
                                    {% endif %}
                                    <h2 class="info-tit">
                                        {{item.title | safe }}
                                    </h2>
                                    <p class="info-des">{{item.abstract | safe }}</p>
                                </a>
                                <p class="info-tips">
                                    {% if item.profileImageUrl %}
                                    <a class="avatar">
                                        <img src="/avatars?url={{item.profileImageUrl}}" alt="" />
                                        {% if user.nickName == item.author && certificateStatus == 2 %}
                                        <span>
                                            <img src="/img/ico_renzheng.png" alt="">
                                        </span>
                                        {% endif %}
                                    </a>
                                    {% endif %}
                                    <em>{{item.author}}</em>
                                    <span> · {{item.createTime}}   ·  {{item.readCount}}阅</span>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination swiper-pagination1"></div>
                </div>
            </div>
            {% endif %}
            {% if Viewpager2 %}
            <div class="top-info">
                <div class="info-list">
                    {% for item in Viewpager2 %}
                    <div class="list-item">
                        {#{% if item.articleImageUrl %}
                        <div class="item-cover">
                            <a href="/d/{{item.id}}">
                                <img src="{{item.articleImageUrl}}" alt="">
                            </a>
                        </div>
                        {% endif %}#}
                        <div class="item-info">
                            <a href="/d/{{item.id}}">
                                <h3 class="item-tit">
                                {{item.title | safe }}
                                </h3>
                                <p class="item-des">
                                    {{item.abstract | safe }}
                                </p>
                            </a>
                            <p class="item-tips">
                                {% if item.profileImageUrl %}
                                <a class="avatar">
                                    <img src="/avatars?url={{item.profileImageUrl}}" alt="" />
                                    {% if user.nickName == item.author && certificateStatus == 2 %}
                                    <span>
                                        <img src="/img/ico_renzheng.png" alt="">
                                    </span>
                                    {% endif %}
                                </a>
                                {% endif %}
                                <em>{{item.author}}</em>
                                <span> · {{item.createTime}} · {{item.readCount}} 阅</span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
            </div>
            {% endif %}
            {#<div class="swiper-container swiper-container2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="top-list">
                            <h4 class="list-tit">
                                    <span>白皮书</span>
                            </h4>
                            <ul class="list-box">
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top-list">
                            <h4 class="list-tit">
                                    <span>白皮书</span>
                            </h4>
                            <ul class="list-box">
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                                <li>
                                    <a href="javascript:;">ETC白皮书</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination2"></div>
            </div>#}
            {#{% if Viewpager3%}
            <div class="swiper-container swiper-container2">
                <div class="swiper-wrapper">
                    {% for item in Viewpager3 %}
                    <div class="swiper-slide">
                        <div class="info">
                            <a href="/d/{{item.id}}">
                                {% if item.articleImageUrl %}
                                <div class="info-cover">
                                    <img src="{{item.articleImageUrl}}" alt="" />
                                </div>
                                {% endif %}
                                <h2 class="info-tit">
                                    {{item.title | safe }}
                                </h2>
                                <p class="info-des">{{item.abstract | safe }}</p>
                            </a>
                            <p class="info-tips">
                                {% if item.profileImageUrl %}
                                <a class="avatar">
                                    <img src="/avatars?url={{item.profileImageUrl}}" alt="" />
                                </a>
                                {% endif %}
                                <em>{{item.author}}</em>
                                <span> · {{item.createTime}}   ·  {{item.readCount}}阅</span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination swiper-pagination2"></div>
            </div> 
            {% endif %}#} 
            <div class="top-entrance">
                <ul>
                    <li>
                        <a href="/channel/technology">
                            <p>技术原创 > </p>
                            <i class="iconfont icon-jishuyuanchuang"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/channel/financial">
                            <p>财经优选 > </p>
                            <i class="iconfont icon-jiagequshi"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/channel/stage/1">
                            <p>区块链入门 > </p>
                            <i class="iconfont icon-qukuailianrumen"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/channel/stage/2">
                            <p>区块链进阶 > </p>
                            <i class="iconfont icon-qukuailianjinjie"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/channel/stage/3">
                            <p>区块链专家 > </p>
                            <i class="iconfont icon-qukuailianzhuanjia"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrap-quick">
            <div class="quick-tit">
                <h5>蜂快报 <em>7x24小时</em></h5>  
                <a href="/express">更多>></a>
            </div>
            <div class="quick-cnt">
                <ul>
                    {% for item in ExpressLists %}
                    <li title="{{item.title}}">{{item.releaseTime}} | {{item.content | safe}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="wrap-main-w">
            <h3>
                <span>技术</span>
                <sup>technology</sup>
            </h3>
            <div class="wrap-main">
                <div class="info-list-w j-tab" id='tech-tabs'>
                    {% include "./block/tech-tab.html" ignore missing %}    
                </div>
            </div> 
        </div>
        <div class="wrap-main-w">
            <h3>
                <span>新闻</span>
                <sup>news</sup>
            </h3>
            <div class="wrap-main">
                <div class="info-list-w j-tab" id="news-tabs">
                    {% include "./block/news-tab.html" ignore missing %}
                </div>
            </div> 
        </div>
    </div>
    {% include "../global/footer.html" ignore missing %}
{% endblock %}    

{% block js %}
<script type="text/javascript" src="{{loadmap.js}}"></script>
{% endblock %}